.body {
    max-width: 1280px;
    min-width: 320px;
    background: #2A2C2F;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Inter';
    font-weight: 400 900;
    font-display: swap;
    font-style: normal;
    src: url("../../fonts/Inter.var.woff2") format("woff2"),
         url("../../fonts/Inter-V.ttf") format("truetype");
}