.place__paragraphs {
    width: 90%;
    display: flex;
    font-size: 1.125em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__paragraphs {
        width: 90%;
        margin: 0 50px;
    }
    
}