.lead__section-title {
    font-size: 6em;
    line-height: 6.25rem;
    text-align: center;
    font-style: normal;
    max-width: 720px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-title {
        width: 90%;
        font-size: 32px;
        line-height: 110%;
    }
}