.cover__background {
    background-size: cover;
    width: 100%;
    grid-row: 1/4;
    grid-column: 1/4;
    z-index: 2;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__background {
        width: 100%;
    }
}

